h1{
}

.profImg{
    width: 220px;
    padding: 10px;
    border: 5px solid rgb(0, 0, 128);
    border-bottom-color: red;
    border-collapse: 20%;
    margin: 0;
    display: inline-block;
    float:center ;
    border-radius: 90%;
}

.box{
    background-color: rgb(83, 140, 198)  ;
    color-rendering: 40%;
    display: inline-block;
  	width: 25%;
    height: 500px;
    padding: 25px;
    overflow: auto;
}

.description{
	display:inline-block;
	float: right;
	overflow :hide;
	position: relative: 30px;
    padding-left: 50px;
    


    margin: 
}
.pooyaDescrption{
    display: inline;
    overflow: hidden;
    position:relative;

    font-size: 23;
    float: right;
}

.boxes{
    padding-left: 50px;
    float:center ;
    margin-left: 40px;

}
.leader{
     background-color: rgb(83, 140, 298)  ;
    color-rendering: 40%;
    display: block;
    width: 88%;
    height: 500px;
    padding: 60px;
    margin: 60px;
    overflow: auto;

}

h2{
    font-size: 350%;
}

p{
    font-size: 150%
}


