body{
   background-color: #f7e1b5;
}
.jumbotron{
    background-image:url("ce.jpg");
    background-size: 100%;
    bachground-image-width: 100%;
    bachground-image-height: 100%;
    background-repeat:   no-repeat;
    height: 90%;
    padding: 300px;


}

.disc{
    float: left;
}
.nav{
    float: right;
}
.container{
    border-bottom: solid;
    padding-bottom: 40px;
    padding-top: 40px;
}
.img-responsive{
    position: relative;
    width: 100%;
    height: 80%;
}


.img-circle{
    height: 200px;
    width: 200px;
    float: right;
}

.all{
    background-color: rgb(255, 179, 102);
}
